# Dependencias
node_modules/
.pnp
.pnp.js

# Archivos de compilación / producción
dist/
dist-ssr/
build/
*.local

# Logs y depuración
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Variables de entorno y credenciales
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# Carpetas del sistema y editores
.DS_Store
Thumbs.db
.vscode/*
!.vscode/extensions.json
.idea/